[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
pyinquirer = "*"
flask = "*"
nujson = "*"
requests = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
